/* RESET RULES */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}


/* LAYOUT */

#app{
    height: 100vh;
}

.app-container{
    width: 100%;
    height: 100%;
}
















/* RESPONSIVE BREAKPOINTS */



/*\ Tablet Responsive View (768px) /*/

@media (min-width:768px){

}







/*\ Desktop Responsive View (992px) /*/

@media (min-width:992px){

}










/* --------> DEBUG <-------- */

.debug .container{
    border: 1px solid red;
}