/* RESET RULES */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}





















/* RESPONSIVE BREAKPOINTS */



/*\ Tablet Responsive View (768px) /*/

@media (min-width:768px){

}







/*\ Desktop Responsive View (992px) /*/

@media (min-width:992px){

}