/* RESET RULES */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}


/* LAYOUT */

#app{
    height: 100vh;
}

.app-container{
    width: 100%;
    height: 100%;
    display: flex;
}



/*\\ HEADER //*/


.app__contact-sidebar{
    display: none;
}







/*\\ MAIN //*/

.app__chat{
    flex-grow: 1;
}




/* App Chat Topbar */

.app__chat__topbar{
    background-color: white;
    display: flex;
    align-items: center;
}


.app__chat__topbar--img{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 5px;
    margin: 0 10px;
}


.app__chat__topbar--info{
    flex-grow: 1;
}


.app__chat__topbar--interaction{
    display: none;
}



/* App Chat Message Box */
.app__chat__message--box{
    height: 100%;
    background-image: url(../img/mine.jpg);
}


















/* RESPONSIVE BREAKPOINTS */



/*\ Tablet Responsive View (768px) /*/

@media (min-width:768px){
    
    /* Side bar */
    .app__contact-sidebar{
        display: flex;
        width: 90px;
        height: 100%;
        flex-shrink: 0;
        background-color: white;
    }

    /* Chat topbar */
    .app__chat__topbar--interaction{
        display: flex;
        margin: 0 10px;
    }

    .app__chat__topbar--interaction li{
        margin-left: 5px;
    }
}







/*\ Desktop Responsive View (992px) /*/

@media (min-width:992px){

    #app{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 200px;
    }

    /* .app-container{
        max-width: 80%;
        height: 100%;       
        margin: 30px auto;
        overflow: auto;
    } */


    /* Side bar */
    .app__contact-sidebar{

        width: 380px;
    }



}










/* --------> DEBUG <-------- */

.debug .app-container{
    border: 1px solid red;
    /* background-color: rgb(204, 192, 192); */
}



.debug .app__contact-sidebar{

    border: 2px dashed rgb(0, 4, 255);
}


.debug .app__chat{
    border: 2px dashed rgb(0, 255, 42);
}



.debug #app{
    background-color: rgb(58, 85, 58);
}


.app__chat__message--box{
    border: 1px white solid;
}